In [1]:
!ls

full_time_series.ipynb meteor_full.csv        tide_full.csv
mangrove_data_full.csv ndvi_full.csv          turbidity_full.tsv

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pytz

# Tide

In [3]:
tide = pd.read_csv("tide_full.csv")

# Rename columns for clarity
tide = tide.rename(columns={
    'Predicted (ft)': 'tide_predicted',
    'Preliminary (ft)': 'tide_preliminary',
    'Verified (ft)': 'tide_verified'
})

/var/folders/y6/t72z56_96cdd7h4ccqzktsh40000gn/T/ipykernel_31259/2387172433.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  tide = pd.read_csv("tide_full.csv")

In [4]:
tide.head()

      Date Time (GMT)  tide_predicted tide_verified
0  1/15/08       0:00           0.692           0.1
1  1/15/08       1:00           0.751           0.2
2  1/15/08       2:00           0.699          0.15
3  1/15/08       3:00           0.550          0.02
4  1/15/08       4:00           0.352         -0.09

In [5]:
tide.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150120 entries, 0 to 150119
Data columns (total 4 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Date            150120 non-null  object
 1   Time (GMT)      150120 non-null  object
 2   tide_predicted  150120 non-null  float64
 3   tide_verified   150120 non-null  object
dtypes: float64(1), object(3)
memory usage: 4.6+ MB

In [6]:
# Combine date and time into a single datetime column
tide['datetime'] = pd.to_datetime(
    tide['Date'] + ' ' + tide['Time (GMT)']
)

utc = pytz.timezone('UTC')  # Using UTC instead of GMT for consistency
# Localize to UTC timezone
tide['datetime_with_tz'] = tide['datetime'].dt.tz_localize(utc)

# Filter out any rows with parsing errors
tide = tide.dropna(subset=['datetime'])


# Convert tide data columns to numeric
for col in ['tide_predicted', 'tide_verified']:
    if col in tide.columns:
        tide[col] = pd.to_numeric(tide[col], errors='coerce')

# Drop unnecessary columns
tide = tide.drop(['Date', 'Time (GMT)', 'datetime'], axis=1)

/var/folders/y6/t72z56_96cdd7h4ccqzktsh40000gn/T/ipykernel_31259/1724052204.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  tide['datetime'] = pd.to_datetime(

In [7]:
tide = tide[tide['tide_verified']!= "-"]
tide['tide_verified'] = tide['tide_verified'].astype(float)

In [8]:
tide = tide[~tide['tide_verified'].isnull()]

In [9]:
tide = tide.drop(columns={'tide_predicted'})

In [10]:
tide.head()

   tide_verified          datetime_with_tz
0           0.10 2008-01-15 00:00:00+00:00
1           0.20 2008-01-15 01:00:00+00:00
2           0.15 2008-01-15 02:00:00+00:00
3           0.02 2008-01-15 03:00:00+00:00
4          -0.09 2008-01-15 04:00:00+00:00

In [11]:
tide.info()

<class 'pandas.core.frame.DataFrame'>
Index: 148309 entries, 0 to 150119
Data columns (total 2 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   tide_verified     148309 non-null  float64
 1   datetime_with_tz  148309 non-null  datetime64[ns, UTC]
dtypes: datetime64[ns, UTC](1), float64(1)
memory usage: 3.4 MB

# Meteor

In [12]:
meteor = pd.read_csv('meteor_full.csv')

# Rename columns for clarity
meteor = meteor.rename(columns={
    'Wind Speed (kn)': 'wind_speed',
    'Wind Dir (deg)': 'wind_direction',
    'Wind Gust (kn)': 'wind_gust',
    'Air Temp (¬∞F)': 'air_temp',
})

In [13]:
meteor.head()

       Date Time (GMT) wind_speed wind_direction wind_gust air_temp
0  12/28/13       0:00       9.33             75     12.83     76.8
1  12/28/13       1:00       10.3             75      13.8       77
2  12/28/13       2:00       7.97             73     11.08     76.8
3  12/28/13       3:00       8.55             71      10.5     76.8
4  12/28/13       4:00       9.52             72     12.83       77

In [14]:
# Combine date and time into a single datetime column
meteor['datetime'] = pd.to_datetime(
    meteor['Date'] + ' ' + meteor['Time (GMT)']
)

utc = pytz.timezone('UTC')  # Using UTC instead of GMT for consistency
# Localize to UTC timezone
meteor['datetime_with_tz'] = meteor['datetime'].dt.tz_localize(utc)

# Filter out any rows with parsing errors
meteor = meteor.dropna(subset=['datetime'])


# Convert tide data columns to numeric
for col in ['wind_speed', 'wind_direction', 'wind_gust', 'air_temp']:
    if col in meteor.columns:
        meteor[col] = pd.to_numeric(meteor[col], errors='coerce')

# Drop unnecessary columns
meteor = meteor.drop(['wind_direction', 'wind_gust', 'air_temp', 'Date', 'Time (GMT)', 'datetime'], axis=1)

/var/folders/y6/t72z56_96cdd7h4ccqzktsh40000gn/T/ipykernel_31259/215229412.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  meteor['datetime'] = pd.to_datetime(

In [15]:
meteor.head()

   wind_speed          datetime_with_tz
0        9.33 2013-12-28 00:00:00+00:00
1       10.30 2013-12-28 01:00:00+00:00
2        7.97 2013-12-28 02:00:00+00:00
3        8.55 2013-12-28 03:00:00+00:00
4        9.52 2013-12-28 04:00:00+00:00

In [16]:
meteor.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97944 entries, 0 to 97943
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   wind_speed        91635 non-null  float64
 1   datetime_with_tz  97944 non-null  datetime64[ns, UTC]
dtypes: datetime64[ns, UTC](1), float64(1)
memory usage: 1.5 MB

# Turbidity

In [17]:
turbidity = pd.read_csv('turbidity_full.tsv', sep='\t')

/var/folders/y6/t72z56_96cdd7h4ccqzktsh40000gn/T/ipykernel_31259/3070442791.py:1: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  turbidity = pd.read_csv('turbidity_full.tsv', sep='\t')

In [18]:
turbidity['249887_63680'] = np.where(
    pd.isna(turbidity['249887_63680']),
    turbidity['170441_63680'],
    turbidity['249887_63680']
)

In [19]:
turbidity = turbidity.drop(columns={'agency_cd', 'site_no', '170441_63680_cd', '249887_63680_cd', '170441_63680'})
turbidity = turbidity.rename(columns={"249887_63680": "turbidity"})

In [20]:
display(turbidity.head())
display(turbidity.tail())

           datetime tz_cd  turbidity
0  2014-05-01 19:30   EDT        1.9
1  2014-05-01 19:45   EDT        2.2
2  2014-05-01 20:00   EDT        2.1
3  2014-05-01 20:15   EDT        2.1
4  2014-05-01 20:30   EDT        2.1

                datetime tz_cd  turbidity
374397  2025-03-24 17:15   EDT        5.6
374398  2025-03-24 17:30   EDT        5.5
374399  2025-03-24 17:45   EDT        5.5
374400  2025-03-24 18:00   EDT        5.4
374401  2025-03-24 18:15   EDT        5.6

In [21]:
turbidity.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 374402 entries, 0 to 374401
Data columns (total 3 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   datetime   374402 non-null  object
 1   tz_cd      374402 non-null  object
 2   turbidity  374402 non-null  float64
dtypes: float64(1), object(2)
memory usage: 8.6+ MB

In [22]:
# 3. STANDARDIZE TIMESTAMPS FOR HYDROLOGICAL DATA
def standardize_timestamps(df):
    """
    Create timezone-aware timestamps, handling EST/EDT correctly
    """
    df = df.copy()
    
    def localize_datetime(row):
        # Create a naive datetime object
        dt = pd.to_datetime(row['datetime'])
        tz_code = row['tz_cd']
        
        # Create naive datetime
        naive_dt = pd.Timestamp(dt.year, dt.month, dt.day, dt.hour, dt.minute, dt.second)
        
        # Apply the specific UTC offset based on the timezone code
        if tz_code == 'EDT':
            # EDT is UTC-4
            return naive_dt.tz_localize(pytz.FixedOffset(-4*60))
        elif tz_code == 'EST':
            # EST is UTC-5
            return naive_dt.tz_localize(pytz.FixedOffset(-5*60))
        else:
            # Default case
            return naive_dt
    
    # Apply the function to create timezone-aware datetimes
    df['datetime_with_tz'] = df.apply(localize_datetime, axis=1)
    
    return df

In [23]:
turbidity = standardize_timestamps(turbidity)

In [24]:
print(f"Duplicates in turbidity: {turbidity['datetime_with_tz'].duplicated().sum()}")

Duplicates in turbidity: 0

In [25]:
turbidity = turbidity.drop(columns={'datetime', 'tz_cd'})
turbidity['datetime_with_tz'] = pd.to_datetime(turbidity['datetime_with_tz'], utc=True)

In [26]:
turbidity.head()

   turbidity          datetime_with_tz
0        1.9 2014-05-01 23:30:00+00:00
1        2.2 2014-05-01 23:45:00+00:00
2        2.1 2014-05-02 00:00:00+00:00
3        2.1 2014-05-02 00:15:00+00:00
4        2.1 2014-05-02 00:30:00+00:00

In [27]:
turbidity.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 374402 entries, 0 to 374401
Data columns (total 2 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   turbidity         374402 non-null  float64
 1   datetime_with_tz  374402 non-null  datetime64[ns, UTC]
dtypes: datetime64[ns, UTC](1), float64(1)
memory usage: 5.7 MB

# Data Cleaning

In [28]:
tide['date'] = tide['datetime_with_tz'].dt.date
meteor['date'] = meteor['datetime_with_tz'].dt.date
turbidity['date'] = turbidity['datetime_with_tz'].dt.date

In [29]:
# Group by date and calculate mean for numeric columns
tide = tide.groupby('date').mean(numeric_only=True)
meteor = meteor.groupby('date').mean(numeric_only=True)
turbidity = turbidity.groupby('date').mean(numeric_only=True)


# Reset index to make date a column again
tide = tide.reset_index()
meteor = meteor.reset_index()
turbidity = turbidity.reset_index()

tide['date'] = pd.to_datetime(tide['date'])
meteor['date'] = pd.to_datetime(meteor['date'])
turbidity['date'] = pd.to_datetime(turbidity['date'])

In [30]:
display(tide.head())
display(meteor.head())
display(turbidity.head())

        date  tide_verified
0 2008-01-15      -0.416250
1 2008-01-16      -0.357083
2 2008-01-17       0.573750
3 2008-01-18       0.706667
4 2008-01-19       0.577917

        date  wind_speed
0 2013-12-28    8.884167
1 2013-12-29    5.774583
2 2013-12-30    3.312917
3 2013-12-31   12.050833
4 2014-01-01    9.937917

        date  turbidity
0 2014-05-01   2.050000
1 2014-05-02   2.058333
2 2014-05-03   2.095833
3 2014-05-04   2.097917
4 2014-05-05   2.235417

In [31]:
full_data = pd.merge(
    tide,
    meteor,
    on="date",
    how="inner"
)

In [32]:
full_data = pd.merge(
    full_data,
    turbidity,
    on="date",
    how="inner"
)

In [33]:
display(full_data.head())
display(full_data.tail())

        date  tide_verified  wind_speed  turbidity
0 2014-05-01       1.242917    7.507500   2.050000
1 2014-05-02       1.470833    6.770417   2.058333
2 2014-05-03       1.648750    4.795417   2.095833
3 2014-05-04       0.871667    7.791667   2.097917
4 2014-05-05       0.690417    8.537500   2.235417

           date  tide_verified  wind_speed  turbidity
3905 2025-02-24       1.767917    6.867500   6.820833
3906 2025-02-25       1.895000   11.331250   6.918750
3907 2025-02-26       1.780000    6.406667   6.941667
3908 2025-02-27       1.886250    4.365833   7.292708
3909 2025-02-28       1.891667    6.406667   7.735417

In [34]:
full_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3910 entries, 0 to 3909
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           3910 non-null   datetime64[ns]
 1   tide_verified  3910 non-null   float64
 2   wind_speed     3666 non-null   float64
 3   turbidity      3910 non-null   float64
dtypes: datetime64[ns](1), float64(3)
memory usage: 122.3 KB

In [35]:
import pandas as pd
import numpy as np

# Assuming full_data has a datetime index or 'date' column
# Extract month and day components for seasonal matching
full_data['month'] = full_data['date'].dt.month
full_data['day'] = full_data['date'].dt.day

# Identify missing values
missing_mask = full_data['wind_speed'].isna()

# Make a copy of the original dataframe
full_data_filled = full_data.copy()

# For each missing value, find the median wind speed for the same month and day across all years
for idx in np.where(missing_mask)[0]:
    current_row = full_data.iloc[idx]
    current_month = current_row['month']
    current_day = current_row['day']
    
    # Find all rows with the same month and day (from other years)
    matching_days = full_data[
        (full_data['month'] == current_month) & 
        (full_data['day'] == current_day) &
        (~full_data['wind_speed'].isna())  # Only consider non-NaN values
    ]
    
    # If we have matching days with data, use their median
    if len(matching_days) > 0:
        full_data_filled.loc[full_data_filled.index[idx], 'wind_speed'] = matching_days['wind_speed'].median()

# Handle any remaining NaNs (if there are dates with no data across any year)
if full_data_filled['wind_speed'].isna().any():
    # Find median by month only for any remaining missing values
    remaining_missing = full_data_filled['wind_speed'].isna()
    
    for idx in np.where(remaining_missing)[0]:
        current_month = full_data.iloc[idx]['month']
        month_data = full_data[
            (full_data['month'] == current_month) &
            (~full_data['wind_speed'].isna())
        ]
        
        if len(month_data) > 0:
            full_data_filled.loc[full_data_filled.index[idx], 'wind_speed'] = month_data['wind_speed'].median()
    
    # If there are still missing values, use forward and backward fill
    full_data_filled['wind_speed'] = full_data_filled['wind_speed'].fillna(method='ffill').fillna(method='bfill')

# Print stats
filled_count = missing_mask.sum() - full_data_filled['wind_speed'].isna().sum()
print(f"Filled {filled_count} missing values using seasonal median interpolation")

Filled 244 missing values using seasonal median interpolation

In [36]:
display(full_data_filled.head())
display(full_data_filled.tail())

        date  tide_verified  wind_speed  turbidity  month  day
0 2014-05-01       1.242917    7.507500   2.050000      5    1
1 2014-05-02       1.470833    6.770417   2.058333      5    2
2 2014-05-03       1.648750    4.795417   2.095833      5    3
3 2014-05-04       0.871667    7.791667   2.097917      5    4
4 2014-05-05       0.690417    8.537500   2.235417      5    5

           date  tide_verified  wind_speed  turbidity  month  day
3905 2025-02-24       1.767917    6.867500   6.820833      2   24
3906 2025-02-25       1.895000   11.331250   6.918750      2   25
3907 2025-02-26       1.780000    6.406667   6.941667      2   26
3908 2025-02-27       1.886250    4.365833   7.292708      2   27
3909 2025-02-28       1.891667    6.406667   7.735417      2   28

In [37]:
full_data_filled = full_data_filled.drop(columns={'month', 'day'})

In [38]:
full_data_filled.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3910 entries, 0 to 3909
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           3910 non-null   datetime64[ns]
 1   tide_verified  3910 non-null   float64
 2   wind_speed     3910 non-null   float64
 3   turbidity      3910 non-null   float64
dtypes: datetime64[ns](1), float64(3)
memory usage: 122.3 KB

In [39]:
for col in full_data_filled.select_dtypes(include=['float']).columns:
    full_data_filled[col] = full_data_filled[col].round(2)

In [40]:
display(full_data_filled.head())
display(full_data_filled.tail())

        date  tide_verified  wind_speed  turbidity
0 2014-05-01           1.24        7.51       2.05
1 2014-05-02           1.47        6.77       2.06
2 2014-05-03           1.65        4.80       2.10
3 2014-05-04           0.87        7.79       2.10
4 2014-05-05           0.69        8.54       2.24

           date  tide_verified  wind_speed  turbidity
3905 2025-02-24           1.77        6.87       6.82
3906 2025-02-25           1.90       11.33       6.92
3907 2025-02-26           1.78        6.41       6.94
3908 2025-02-27           1.89        4.37       7.29
3909 2025-02-28           1.89        6.41       7.74

# NDVI

In [59]:
ndvi = pd.read_csv("ndvi_full.csv")

In [60]:
ndvi['datetime_with_tz'] = pd.to_datetime(ndvi['date'], utc=True)

/var/folders/y6/t72z56_96cdd7h4ccqzktsh40000gn/T/ipykernel_31259/3730004203.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  ndvi['datetime_with_tz'] = pd.to_datetime(ndvi['date'], utc=True)

In [61]:
ndvi = ndvi.drop(columns={'system:index', '.geo', 'date'})

In [62]:
ndvi['date'] = ndvi['datetime_with_tz'].dt.date

In [63]:
ndvi = ndvi.drop(columns={'datetime_with_tz'})

In [64]:
ndvi['date'] = pd.to_datetime(ndvi['date'])

In [65]:
ndvi = ndvi[ndvi['ndvi'] >= 0.1]

In [66]:
ndvi.head()

       ndvi       date
0  0.229624 2014-05-01
1  0.330601 2014-05-02
3  0.654107 2014-05-04
4  0.725772 2014-05-05
5  0.670115 2014-05-06

In [67]:
ndvi.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3338 entries, 0 to 3854
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ndvi    3338 non-null   float64
 1   date    3338 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(1)
memory usage: 78.2 KB

In [68]:
ndvi.describe().T

,count,mean,min,25%,50%,75%,max,std
ndvi,3338.0,0.429998,0.100174,0.314833,0.434775,0.561454,0.889678,0.158686
date,3338,2019-09-25 11:16:51.623726848,2014-05-01 00:00:00,2017-01-25 06:00:00,2019-09-27 12:00:00,2022-05-22 18:00:00,2025-02-27 00:00:00,NaN

In [69]:
final_data = pd.merge(
    full_data_filled,
    ndvi,
    on="date",
    how="left"
)

In [70]:
final_data[final_data['ndvi'].isnull()].head()

         date  tide_verified  wind_speed  turbidity  ndvi
2  2014-05-03           1.65        4.80       2.10   NaN
13 2014-05-14           1.00        9.15       2.34   NaN
14 2014-05-15           1.39        5.33       2.09   NaN
15 2014-05-16           0.79        6.30       2.07   NaN
32 2014-06-02           0.64        8.27       1.72   NaN

In [71]:
import pandas as pd
import numpy as np

# Assuming final_data has a datetime index or 'date' column
# Extract month and day components for seasonal matching
final_data['month'] = final_data['date'].dt.month
final_data['day'] = final_data['date'].dt.day

# Identify missing values
missing_mask = final_data['ndvi'].isna()

# Make a copy of the original dataframe
final_data_filled = final_data.copy()

# For each missing value, find the median wind speed for the same month and day across all years
for idx in np.where(missing_mask)[0]:
    current_row = final_data.iloc[idx]
    current_month = current_row['month']
    current_day = current_row['day']
    
    # Find all rows with the same month and day (from other years)
    matching_days = final_data[
        (final_data['month'] == current_month) & 
        (final_data['day'] == current_day) &
        (~final_data['ndvi'].isna())  # Only consider non-NaN values
    ]
    
    # If we have matching days with data, use their median
    if len(matching_days) > 0:
        final_data_filled.loc[final_data_filled.index[idx], 'ndvi'] = matching_days['ndvi'].median()

# Handle any remaining NaNs (if there are dates with no data across any year)
if final_data_filled['ndvi'].isna().any():
    # Find median by month only for any remaining missing values
    remaining_missing = final_data_filled['ndvi'].isna()
    
    for idx in np.where(remaining_missing)[0]:
        current_month = final_data.iloc[idx]['month']
        month_data = final_data[
            (final_data['month'] == current_month) &
            (~final_data['ndvi'].isna())
        ]
        
        if len(month_data) > 0:
            final_data_filled.loc[final_data_filled.index[idx], 'ndvi'] = month_data['ndvi'].median()
    
    # If there are still missing values, use forward and backward fill
    final_data_filled['ndvi'] = final_data_filled['ndvi'].fillna(method='ffill').fillna(method='bfill')

# Print stats
filled_count = missing_mask.sum() - final_data_filled['ndvi'].isna().sum()
print(f"Filled {filled_count} missing values using seasonal median interpolation")

Filled 616 missing values using seasonal median interpolation

In [72]:
final_data_filled['ndvi'] = final_data_filled['ndvi'].round(2)

In [73]:
final_data_filled = final_data_filled.drop(columns={'month', 'day'})

In [74]:
final_data_filled.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3910 entries, 0 to 3909
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           3910 non-null   datetime64[ns]
 1   tide_verified  3910 non-null   float64
 2   wind_speed     3910 non-null   float64
 3   turbidity      3910 non-null   float64
 4   ndvi           3910 non-null   float64
dtypes: datetime64[ns](1), float64(4)
memory usage: 152.9 KB

In [75]:
display(final_data_filled.head())
display(final_data_filled.tail())

        date  tide_verified  wind_speed  turbidity  ndvi
0 2014-05-01           1.24        7.51       2.05  0.23
1 2014-05-02           1.47        6.77       2.06  0.33
2 2014-05-03           1.65        4.80       2.10  0.40
3 2014-05-04           0.87        7.79       2.10  0.65
4 2014-05-05           0.69        8.54       2.24  0.73

           date  tide_verified  wind_speed  turbidity  ndvi
3905 2025-02-24           1.77        6.87       6.82  0.36
3906 2025-02-25           1.90       11.33       6.92  0.16
3907 2025-02-26           1.78        6.41       6.94  0.60
3908 2025-02-27           1.89        4.37       7.29  0.53
3909 2025-02-28           1.89        6.41       7.74  0.42

In [76]:
final_data_filled.to_csv('mangrove_data_full.csv', index=False)